@media screen and (min-width: 640px) {
  .video {
    width: 360px;
    height: 203px;
  }
}

@media screen and (max-width: 768px) {
  .navigation .navbar-default .navbar-header .btn-lg {
    background-color:rgba(0,0,0,0.0);
  }
  .navigation .navbar-default .navbar-header .btn-lg {
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 768px) {
  .video {
    width: 360px;
    height: 203px;
  }
  .navigation .navbar-default .navbar-header .btn-lg {
    margin-top: 3px;
    margin-right: 10px;
    border: 1px solid transparent;
  }
/*   .navigation .navbar-default .navbar-header .btn-lg:hover { */
/*     margin-top: 3px; */
/*     margin-right: 10px; */
/*     border: 1px solid #daa520; */
/*   } */
}

@media screen and (min-width: 1024px) {
  .video {
    width: 500px;
    height: 281px;
  }
}

@media screen and (min-width: 1280px) {
  .video {
    width: 640px;
    height: 360px;
  }
}

html {
  background: url("/img/beach.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: Lato;
}

li {
  margin: 5px;
}

.navigation .navbar-default {
  background-color:rgba(0,0,0,0.3);
  color: #ffffff;
  border-color: transparent;
}

.navigation .navbar-default .navbar-toggle {
  background-color:rgba(91,192,222,0.3);
  border: 1px solid transparent;
}

.navigation .navbar-default .navbar-collapse {
  border-color: #daa520;
}

/* .navigation .navbar-default .navbar-toggle:hover { */
/*   border: 1px solid #daa520; */
/* } */

.navigation .navbar-default .navbar-toggle .icon-bar {
  border: 1px solid #daa520;
}

.navigation .navbar-default .navbar-nav > li > a {
  color: #28506f;
  font-weight: 600;
  border: 1px solid transparent;
}

/* .navigation .navbar-default .navbar-nav > li > a:hover { */
/*   color: #daa520; */
/*   border: 1px solid #daa520; */
/* } */

.navigation .navbar-default .btn-info {
  background-color:rgba(91,192,222,0.3);
}

.blackwash {
  background-color: rgba(0, 0, 0, .7);
  border-radius: 6px;
  color: #ffffff;
}

.whitewash {
  background-color: rgba(225, 225, 225, .5);
  border-radius: 6px;
  color: #ffffff;
}

.people {
  color: #ffffff;
  font-weight: 100;
}

.people .icon-lg {
  font-size: 100px;
}

.people-content {
  margin-bottom: 10px;
}

.people .people-content .image-text {
  margin: 5px 5px 0px 10px;
  padding: 5px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 100;
}

.people .people-content .image-texts {
  margin: 5px 5px 0px 10px;
  font-size: 18px;
  border-radius: 6px;
  text-align: left;
  font-weight: 100;
}

.featurette {
  padding: 20px;
}

.featurette .img-responsive {
  margin: 0px auto;
}

.featurette .lead {
  font-weight: 100;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  background-color:rgba(255,255,255,.7);
  border-radius: 4px;
  color: #daa520;
}

.page-header {
	margin: 20px 0 20px;
}

.page-header > h1 {
	padding-top: 20px;
}

.list-texts {
	font-size: 21px;
	font-weight: 100;
	line-height: 1em;
}
