@media screen and (min-width: 640px) {
  .video {
    width: 360px;
    height: 203px;
  }
}

@media screen and (max-width: 768px) {
  .navigation .navbar-default .navbar-header .btn-lg {
    background-color:rgba(0,0,0,0.0);
  }
  .navigation .navbar-default .navbar-header .btn-lg {
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 768px) {
  .video {
    width: 360px;
    height: 203px;
  }
  .navigation .navbar-default .navbar-header .btn-lg {
    margin-top: 3px;
    margin-right: 10px;
    border: 1px solid transparent;
  }
  .navigation .navbar-default .navbar-header .btn-lg:hover {
    margin-top: 3px;
    margin-right: 10px;
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 1024px) {
  .video {
    width: 500px;
    height: 281px;
  }
}

@media screen and (min-width: 1280px) {
  .video {
    width: 640px;
    height: 360px;
  }
}

html {
  background: url("/img/beach.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  font-family: Lato;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px;
}

.navigation .navbar-default {
  background-color:rgba(0,0,0,0.8);
  /*background-color: rgba(255, 255, 255, .6);*/
  color: #ffffff;
  border-color: transparent;
}

.navigation .navbar-default .navbar-toggle {
  background-color:rgba(91,192,222,0.3);
  border: 1px solid transparent;
}

.navigation .navbar-default .navbar-collapse {
  border-color: #47B4E5;
}

.navigation .navbar-default .navbar-toggle:hover {
  border: 1px solid transparent;
}

.navigation .navbar-default .navbar-toggle .icon-bar {
  border: 1px solid transparent;
}

.navigation .navbar-default .navbar-nav > li > a {
  color: #28506f;
  font-weight: 600;
  border: 1px solid transparent;
}

.navigation .navbar-default .navbar-nav > li > a:hover {
  color: #47B4E5;
  border: 1px solid transparent;
}


.people .people-content {
  margin-bottom: 10px;
}

.people .people-content .image-text {
  background-color:rgba(91,192,222,0.6);
  margin: 5px 5px 0px 10px;
  padding: 5px;
  color: #28506f;
  font-size: 18px;
  border-radius: 6px;
}

.featurette {
  padding: 20px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  background-color:rgba(255,255,255,.7);
  border-radius: 4px;
  color: #47B4E5;
}

.whitewash {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 6px;
  color: #F3EFF5;
  font-size: 20px;
}

.container2 {
	width:750px;
	margin: auto;
}

.container {
	width:100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.navigation .navbar-default .btn-info {
	background-color: transparent;
}

.navigation .navbar-default .navbar-nav > li > a {
	color: #F3EFF5;
}

.people .people-content .image-text {
background-color: rgba(91,192,222,0.3);
margin: 5px 5px 0px 10px;
padding: 5px;
color: #F3EFF5;
font-size: 18px;
border-radius: 6px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: #F3EFF5;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*.carousel-inner {
	background-color: rgba(0, 0, 0, .6);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}*/

body2 {
background-image: background: url("../img/beach.jpg") no-repeat center center fixed;
color: black;
font-family: Lato;
min-height: 100%;
min-width: 100%;
}


